.field_wrapper {
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.cell {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background-color: #ccc;
    /* font-size: 12px; */
    /* color: #ccc; */
    cursor: pointer;
    align-items: center;
    justify-content: center;
}